    <header class="hdr ">
        <div class="img-bkg">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item">
                            <i class="icn bi bi-list"></i>
                        </li>
                    </ul>
                </div>
            </nav>
            <h1 class="text-center">Welcome to Meal</h1>
        </div>
    </header>
    <section class="features ">
        <div class="container">
            <h1 class="text-center">Find your best food
            </h1>
            <p class="text-center">
                Free Website Template For Restaurants Made by Colorlib
            </p>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="~/assets/image/delmonte-mealimage-summermelonsalad2-988x604.jpg" alt="Card image cap">
                </div>
                <div class=" card text-center">
                    <p class="text-center red"> VEGIES</p>
                    <div class="card-body">
                        <h5 class="card-title">BEEF EMPANADAS
                        </h5>
                        <p class="bld card-text text-center text-black-50">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>LEARN MORE<i class="bi bi-three-dots"></i> </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/assets/image/delmonte-mealimage-summermelonsalad2-988x604.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="~/assets/image/delmonte-mealimage-summermelonsalad2-988x604.jpg" alt="Card image cap">
                </div>
                <div class=" card text-center">
                    <p class="text-center red"> VEGIES</p>
                    <div class="card-body">
                        <h5 class="card-title">BEEF EMPANADAS
                        </h5>
                        <p class=" card-text text-center text-black-50">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>LEARN MORE<i class="bi bi-three-dots"></i> </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/assets/image/delmonte-mealimage-summermelonsalad2-988x604.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="section pb-3 bg-white aos-init aos-animate" id="section-about" data-aos="fade-up">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12 col-lg-8 section-heading">
                        <h2 class="heading mb-5 ">The Restaurant</h2>
                        <p class="text-black-50">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p class="text-black-50">It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                    <img class="cstmimg" src="https://preview.colorlib.com/theme/meal/images/xbg_hero.png.pagespeed.ic.amM03QbRMh.webp" alt="">
                </div>
            </div>
        </div>
    </div>
    <section class="about">
        <div class="container">
            <h1 class="text-center pb-5">Meet The Chefs
            </h1>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <div class="about-avatar">
                        <img src="https://preview.colorlib.com/theme/meal/images/xchef_1.jpg.pagespeed.ic.TwytzGtMxF.webp" alt="avatar" class="avatar">
                        <h3>Daniel Graham
                        </h3>
                        <p class="text-black-50">
                            MASTER CHEF
                        </p>
                    </div>
                    <div>
                        <p class="text-black-50">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

                        </p>

                        <p class="text-black-50">
                            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. It is a paradisematic country.
                        </p>
                    </div>
                    <div class="social-account">
                        <i class="bi bi-instagram orange"></i>
                        <i class="bi bi-facebook orange"></i>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="about-avatar">
                        <img src="https://preview.colorlib.com/theme/meal/images/xchef_1.jpg.pagespeed.ic.TwytzGtMxF.webp" alt="avatar" class="avatar">
                        <h3>Daniel Graham
                        </h3>
                        <p class="text-black-50">
                            MASTER CHEF
                        </p>
                    </div>
                    <div>
                        <p class="text-black-50">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

                        </p>

                        <p class="text-black-50">
                            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. It is a paradisematic country.
                        </p>
                    </div>
                    <div class="social-account">
                        <i class="bi bi-instagram orange"></i>
                        <i class="bi bi-facebook orange"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="menu container">
        <div class="container">
            <h1 class="text-center">
                Menu
            </h1>
            <p class="text-black-50  text-center">
                Free Website Template For Restaurants Made by Colorlib
            </p>
            <div class="text-center">
                <ul class="menu-nav nav ms-auto text-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="pill" href="#pills-breakfast" aria-selected="false">Breakfast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="pill" href="#pills-lunch" aria-selected="true">Brunch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pills-dinner" aria-selected="false ">Dinner</a>
                    </li>
                </ul>
            </div>
            <div class="mb-3">
                <div class="row g-0 card-body-div1">
                    <div class="col-md-1  ">
                        <img src="https://preview.colorlib.com/theme/meal/images/ximg_1.jpg.pagespeed.ic.L60-aVe_WJ.webp" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 card-body-div">
                        <div class="card-body t">
                            <h5 class=" rigt-corner card-title">Warm Spinach Dip & Chips <span class="">$11.99</span></h5>
                            <p class="card-text">Spinach and artichokes in a creamy cheese dip with warm tortilla chips & salsa.
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

        </div>

    </section>
    <section class="services">
        <div class="container">
            <h1 class="text-center">Other Services
            </h1>
            <p class="text-black-50 text-center">
                Free Website Template For Restaurants Made by Colorlib
            </p>
            <div class="row pb-5">

                <div class="col-lg-4 text-center">
                    <i class="icon-size bi bi-alarm"></i>
                    <p class="text-black-50">Quality Cuisine
                    </p>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

                    </p>

                </div>
                <div class="col-lg-4 text-center">
                    <i class="icon-size bi bi-alarm"></i>
                    <p class="text-black-50">Quality Cuisine
                    </p>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

                    </p>

                </div>
                <div class="col-lg-4 text-center">
                    <i class="icon-size bi bi-alarm"></i>
                    <p class="text-black-50">Quality Cuisine
                    </p>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

                    </p>

                </div>

            </div>
            <div class="row pb-5">

                <div class="col-lg-4 text-center">
                    <i class="icon-size bi bi-alarm"></i>
                    <p class="text-black-50">Quality Cuisine
                    </p>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

                    </p>

                </div>
                <div class="col-lg-4 text-center">
                    <i class="icon-size bi bi-alarm"></i>
                    <p class="text-black-50">Quality Cuisine
                    </p>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

                    </p>

                </div>
                <div class="col-lg-4 text-center">
                    <i class="icon-size bi bi-alarm"></i>
                    <p class="text-black-50">Quality Cuisine
                    </p>
                    <p class="text-black-50">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

                    </p>

                </div>

            </div>

    </section>
    <section class="reviews text-center">
        <div class="section bg-light">
            <div class="container">
                <div class="row section-heading justify-content-center mb-5">
                    <div class="col-md-8 text-center">
                        <h2 class="heading mb-3">Reservation</h2>
                        <p class="sub-heading mb-5">Free Website Template For Restaurants Made by Colorlib</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 p-5 form-wrap">
                        <form>
                            <div class="row mb-4">
                                <div class="form-group col-md-4">
                                    <label for="name" class="label">Name</label>
                                    <div class="form-field-icon-wrap">
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="email" class="label">Email</label>
                                    <div class="form-field-icon-wrap">
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="phone" class="label">Phone</label>
                                    <div class="form-field-icon-wrap">
                                        <input type="text" class="form-control" id="phone">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="persons" class="label">Number of Persons</label>
                                    <div class="form-field-icon-wrap">
                                        <select class="form-control">
            <option value="">1 person</option>
            <option value="">2 persons</option>
            <option value="">3 persons</option>
            </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="date" class="label">Date</label>
                                    <div class="form-field-icon-wrap">
                                        <input type="text" class="form-control" id="date">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="time" class="label">Time</label>
                                    <div class="form-field-icon-wrap">
                                        <input type="text" class="form-control ui-timepicker-input">
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-primary btn-outline-primary btn-block" value="Reserve Now">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 p-5 form-wrap">
                    <form>
                        <div class="row mb-4">
                            <div class="form-group col-md-4">
                                <label for="name" class="label">Name</label>
                                <div class="form-field-icon-wrap">
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="email" class="label">Email</label>
                                <div class="form-field-icon-wrap">
                                    <input type="email" class="form-control" id="email">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="date" class="label">Phone</label>
                                <div class="form-field-icon-wrap">
                                    <input type="text" class="form-control" id="date">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4 text-center">
                                <input type="submit" class="btn btn-primary btn-outline-primary btn-block" value="Reserve Now">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7230.1021298302585!2d49.81500051545646!3d40.36710788750113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dc397d94dc3%3A0x617bc46b47244c00!2sAzerbaijan%20Technical%20University!5e0!3m2!1sen!2s!4v1655377656074!5m2!1sen!2s"
            width="100%" height=" 500px " style="border:0; " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
        </div>